*{
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: arial ;
    border: border-box;

}
body{
    background: color #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10px;

}
.header_text p{
    margin-top: 20px;
    text-align: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    height: 100px;
    width: 140px;


}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}
nav ul li a{
    color: #FFBF00;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #ece6e8;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;

}
nav ul li a:hover::after{
    width: 100% ;
}
.header_text b{
    color: #FFBF00;
    text-decoration: wavy;
    font-size: 15px;
}
.header_text h1{
    
    font-size: 60px;
    margin-top: 80px;
}
.header_text h1 span{
    color: #FFBF00;
}
.header_text h2{
    
    font-size: 35px;
    margin-top: 20px;
}

#about{
    
    padding: 50px  0;
    color:#ababab ;

}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}.about-col-1{
    flex-basis: 20%;
}
.about-col-1 image{
    width: 100%;
    border-radius: 15px;
} 
.about-col-2{
    flex-basis: 70%;
}
.about-col-2 h1 span{
    color: #138808;
}
.subtitle{
    margin-top: 10px;
    font-size: 60px;
    font-weight: 600 ;
    color: #FFBF00;
}
#upcoming-events{
    padding: 50px 0 ;
}
.New-Events{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;    
}
/* .copyright{

    width: 100%;
    text-align: center;
    padding: 25px 0;
    background:#262626;
    font-weight: 300;
    margin: 20px;
} */
.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ffbf00;
    margin-right: 15px;
    font-size: 25px;
}
.socialicons{
    margin-top:  30px; 
}
.socialicons a{
    
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
}
footer {
    background-color: #080808;
    color: #fff;
    padding: 20px;
    text-align: center;
  }



























